{% extends "enquiry/base.html" %}

{% block title %}
  Enquiries
{% endblock title %}

{% block sub_heading %}
  Enquiries
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="l-box">
        <table class="pure-table pure-table-bordered">
          <thead>
            <tr>
              <th>Date</th>
              <th>From</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            {% for e in enquiry_list %}
              <tr valign="top">
                <td>
                  {{ e.created|date:"D jS M Y" }}
                  <br />
                  {{ e.created|date:"H:ia" }}
                </td>
                <td>
                  {{ e.name }}
                  <br />
                  {% if e.email %}
                    {{ e.email|urlize }}
                  {% endif %}
                  {% if e.phone and e.email %}
                    <br />
                  {% endif %}
                  {% if e.phone %}
                    {{ e.phone }}
                  {% endif %}
                </td>
                <td>
                  {% if e.description %}
                    {{ e.description|urlize|linebreaksbr }}
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock content %}
